* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PlayFont;
  src: url(../Font/AGoblinAppears-o2aV.ttf);
}

.wrapper {
  width: 576px;
  margin: 0 auto;
}

.image img {
  width: 576px;
  height: 576px;
}

.homepage {
  position: relative;
  display: block;
}

.homepage button {
  position: absolute;
  top: 70%;
  left: 33%;
  width: 180px;
  height: 50px;
  z-index: 2;
  font-family: "PlayFont";
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}

.gamescreen {
  display: none;
  position: relative;
}

.player {
  background: url("../Images/sprite.png");
  height: 72px;
  width: 72px;
  position: absolute;
  z-index: 1;
}

.coin {
  background: url(../Images/coin.gif);
  position: absolute;
  z-index: 1;
  width: 42px;
  height: 42px;
  background-size: cover;
  top: 0;
  left: 0;
}

.coinScore img {
  display: block;
  position: absolute;
  width: 42px;
  height: 46px;
  top: 517px;
  left: 15px;
  z-index: 2;
}

.score {
  position: absolute;
  top: 522px;
  left: 16%;
  width: 180px;
  height: 50px;
  z-index: 2;
  font-family: "PlayFont";
  font-size: 34px;
  color: #ffcb1f;
}

.time {
  left: 428px;
}

.coinscore__body {
  width: 142px;
  height: 72px;
  position: absolute;
  z-index: 1;
  background: black;
  opacity: 0.4;
  top: 502px;
}

.instruction {
  display: none;
  position: absolute;
  background: url(../Images/Instruction\ scroll.png);
  width: 390px;
  height: 530px;
  left: 14%;
  z-index: 2;
}

.tile {
  position: absolute;
  background: url("../Images/0.jpg");
  height: 72px;
  width: 72px;
}

.tile.tile-0 {
  background: url("../Images/0.jpg");
}

.tile.tile-1 {
  background: url("../Images/1.jpg");
}

.tile.tile-2 {
  background: url("../Images/2.jpg");
}

.tile.tile-3 {
  background: url("../Images/3.jpg");
}

.tile.tile-4 {
  background: url("../Images/4.jpg");
}

.tile.tile-5 {
  background: url("../Images/5.jpg");
}

.tile.tile-6 {
  background: url("../Images/6.jpg");
}

.tile.tile-7 {
  background: url("../Images/7.jpg");
}

.tile.tile-8 {
  background: url("../Images/8.jpg");
}

.tile.tile-9 {
  background: url("../Images/9.jpg");
}

.tile.tile-10 {
  background: url("../Images/10.jpg");
}

.enemy {
  width: 50px;
  height: 50px;
  color: #fff;
  background-image: url(../Images/minion.png);
  background-size: contain;
  position: absolute;
  z-index: 1;
  display: block;
}

.beam {
  display: none;
  background-image: url(../Images/beam.jpg);
  position: absolute;
  width: 72px;
  height: 72px;
  z-index: 1;
}

.hide {
  display: none;
}
